* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body {
	background-color: #e5e7d3;
	color: #4f4f4f;
	font: 13px/1 Arial, sans-serif;
}

h2,
h3,
h4 {
	line-height: 2;
}

h2 {
	font-size: 1.385em;

}

h3 {
	font-size: 1.231em;
}

p {
	line-height: 1.5;
	margin-bottom: 1em;
}

a:link,
a:visited,
a:active {
	color: #873355;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrap {
	margin: 0 auto;
	max-width: 987px;
	padding: 0 8px;
}

header {
	background-color: #4288ff;
	height: 34px;
	line-height: 34px;
}

header h1 {
	margin-top: 5px;
	color: #fff;
	float: left;
	font-size: 1.846em;
	font-variant: small-caps;
}

nav {
	float: right;
}

div#faqs {
	border-style: solid;
/*	border-width: 5px;
	border-color: rgba(66, 136, 255, 0.4);
*/	padding: 20px 20px;
	/*border-radius: 4px;*/
}
div#faqs span.q h2{
	margin-top: 10px;
}
h3.a{
	margin-left: 20px;
}

nav li {
	display: inline;
	margin-left: 13px;
}

.hook {
	display: block;
	margin: 13px 0;
}

/*input,
select {
	height: 34px;
}

select {
	cursor: pointer;
	width: 144px;
}

*/



#pw {
	position: initial;
	width: 100%;
	padding-right: 34px;
}

#pwcol{
	padding:0px;
}

footer {
	font-size: 1em;
	margin-top: 50px;
	text-align: center;
}

.alert {
	padding: 0px;
	margin-top: 15px;
}
.alert:empty {
	display: none;
}
.error {
	display: block;
	padding: 15px;
}

.error:nth-child(2) {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.error:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

textarea {
	min-height: 233px;
	min-width: 100%;
	max-width: 100%;
	resize: both;
}
#imgdiv {
	height: auto;
	margin: 20px auto;
	width: 500px;
}

#cipherimg {
	width: 500px;
}

.form-control {
	background-color: #BDC0FF;
}

form {
	margin-top: 40px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    border-radius: 4px 0px 0px 4px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

select.form-control {
	width:25%;
}
.col-sm-10
.col-sm-12
.col-sm-2 {
	padding: 0px;
}

input.form-control {
	width: 100%;
}

.btn.btn-default {
	border-radius: 2px 4px 4px 2px;
}

.modal-body img{
	display: block;
	width: 538px !important;
	height: auto;
    margin: auto;
    vertical-align: middle;
    position: static;
}

.modal-footer {
	margin-top: 0px;
	padding: 5px 20px 10px;
}

.row {
	margin: 20px 0;
	margin-left: 0px;
	padding-left: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #FFF;
	background-color: rgb(52, 135, 209);
	border-color: #285E8E;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
.open .dropdown-toggle.btn-default {
	border-color: #285E8E;
}

.btn-default:not(:hover) {
	background-color: #FFF;
	border-color: #357EBD;
	top: 0px;
}

.btn-primary:not(:hover) {
	background-color: #4288FF;
}

body.modal-open {
	overflow: hidden;
	margin-right: inherit !important;
	padding-right: 0px !important
}
div.error span.glyphicon {
	margin-right: 5px;
}
.close {
	margin-right: 5px;
}

#downloadBtn {
	margin-right: 0px;
	float: right;
	position: relative;
	top: 45px;
	right: 3%;
	text-align: center;
	display: block;
	border: 1px solid rgba(68, 58, 237, 0.41);
	padding: 6px 10px 6px 12px;
	background-color: #F2F1F0;
}
.glyphicon.glyphicon-save {
	margin-right: 0px;
}
.glyphicon-eye-open:hover {
	color: #4f4f4f;
}

span.glyphicon-eye-open {
    display: none;
    /*margin-right: 80px;*/
    right: 12px;
    position: absolute;
    top: 12px;
    cursor:pointer;
    color: rgba(79,79,79,0.3);
}
.input-group .form-control{
	padding-right: 18px;
}