{% extends "layout.html" %}
{% block body %}
	<div id="faqs">
		<span class="q"><h2>Q: What is SeanBin?</h2></span>
		<h3 class="a">SeanBin is the cryptographic PasteBin for your photos.</h3>
		
		<span class="q"><h2>Q: What encrypting algorithms does it use?</h2></span>
		<h3 class="a">SeanBin utilizes SJCL, the Stanford JScript Cryptography Library. Read more about it <a href"https://crypto.stanford.edu/sjcl/">here</a></h3>
		
		<span class="q"><h2>Q: How does SeanBin secure your photos?</h2></span>
		<h3 class="a">By encrypting your photo on the client side, and sending only the cipher to our servers.</h3>
		
		<span class="q"><h2>Q: How did SeanBin get its name?</h2></span>
		<h3 class="a">SeanBin is a pun on the name PasteBin and the actor Sean Bean.</h3>
		
		
	
	</div>
{% endblock %}