{% extends "layout.html" %}
{% block body %}
	{% if pastename!=1 %}
	<script>
	createAlert("Remember to keep the Paste URL!", "infos");
	</script>
	{% endif %}
	<form role="form" id="view" class="io" autocomplete="off">
		<div class="hook">	Encrypted Image <a id="pastename" href="{{ url }} ">{% if pastename==1 %}Demo 
			{% else %}{{ pastename }}{% endif %}
		</a> From <strong>{{ added }}</strong>
		{% if pastename != 1 %}
		(<span id="time">More than one second</span> ago)
		<script>
			startElapsedTimer({{ added_sec }});
		</script>
		{% endif %}
		</div>
		<!-- <h2>Decrypted image</h2><br> -->
		<div id="imgdiv" style="display: none">
			<button type="button" id="downloadBtn" class="btn btn-defualt" >
				<span class="glyphicon glyphicon-save"></span>
			</button>
			<img id="cipherimg">
		</div>

		<div class="row input-group">
			<div id="pwcol" class="col-sm-12">
				<input id="pw" name="password" type="password" class="form-control"
				placeholder="Enter {% if pastename==1 %}'SeanBean'{% else %}password{% endif %} to decrypt"
				onkeypress="if(event.keyCode == 13){ GetCipher({{ pastename }}); return false;}"
				autofocus="">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
			<span class="input-group-btn">
				<button id="decryptbutton"  class="btn btn-primary" onclick="GetCipher('{{ pastename }}'); return false;">Unbin It!</button>
			</span>
		</div>


	</form>
</div>
{% endblock %}
