{% extends "layout.html" %}
{% block body %}
	<form role="form" id="view" class="io" autocomplete="off">
		<div class="hook">	Encrypted Image <a id="pastename" href="{{ url }} ">{% if pastename==1 %}Demo 
			{% else %}{{ pastename }}{% endif %}
		</a> From <strong>{{ added }}</strong>
		{% if pastename != 1 %}
		(<span id="time">More than one second</span> ago)
		<script>
			startElapsedTimer({{ added_sec }});
		</script>
		{% endif %}
		</div>
		<!-- <h2>Decrypted image</h2><br> -->
		<div id="imgdiv">
			<img id="cipherimg">
		</div>
		<div class="row" id="pw">
			<div class="input-group">
				<input name="password" type="password" class="form-control" placeholder="Enter {% if pastename==1 %}'SeanBean'{% else %}password{% endif %} to decrypt" onkeypress="javascript: if(event.keyCode == 13){ $.fn.decrypt({{ pastename }}); return false;}" autofocus="">
				<span class="input-group-btn">
					<input type="button" id="decryptbutton" class="btn btn-primary" value="Unbin It!" onclick="$.fn.decrypt('{{ pastename }}'); return false;">
				</span>
			</div>
		</div>
	</form>
</div>
{% endblock %}
